<section class="container-fluid cert mt-2">
    <div class="harvard-logo">
        <img src="assets/back.jpg" />
      </div>

      <div class="contact-us mt-4" >

        <div>

          <a style="color: #3e5b73f7; font-size: 17px; font-weight: bold; " href="mailto:mshalalwajy08@gmail.com" ><mat-icon class="mr">email</mat-icon>Email</a>
        </div>
       <div>
        <a style="color: #3e5b73f7; font-size: 17px; font-weight: bold;" href="tel:+966538969859" ><mat-icon class="mr">phone_iphone</mat-icon> Call</a>
       </div>
       <div>
        <a style="color: #3e5b73f7; font-size: 17px; font-weight: bold;" href="https://wa.me/+966538969859?text=Hi%20There!"><mat-icon class="mr">chat</mat-icon> WhatsApp</a>
       </div>

      </div>


    <h2 class="work-des" data-aos="zoom-in-down"
    data-aos-duration="1500">

    Fresh graduate in information systems interested and have extensive experience in databases, analysis and data design looking for challenges role in the organization to enhance my knowledge and experience.
  </h2>




  </section>

