
<section >

<div class="myImage">
    <!-- <div><img src="assets/cc.jpg"/></div> -->

   <!-- <h2 class="animate__animated animate__zoomIn job">Software Engineer</h2> -->

    <ngx-typed-js class="mt-3" [strings]="['Web Developer']" [shuffle]="true" [typeSpeed]="80" [showCursor]="false">
        <span class="typing job"></span>
      </ngx-typed-js>

</div>

</section>


<!-- Second Section -->
<!-- <div class="f-img container-fluid" data-aos="zoom-in-left" data-aos-duration="1500"> -->
  <div class="f-img container-fluid" >
    <img src="assets/webdev.jpg"/>
  </div>
  <!--End Of Second Section -->

  <!-- <div class="container">
    <h2 class="work-des">Hello, I Develop Desktop Applications, Android Developer and Websites, Frontend, Backend and DevOps</h2>
  </div> -->

  <!-- Third Section -->


  <!-- End Third Section -->
<!-- Fourth Section -->
<section class="container my-skills">
  <h2 class="skl mt-2">EXPERIENCES</h2>
 <div class="prog-languages" data-aos="zoom-in-down" data-aos-duration="1700">

  <p>- SDAIA , Riyadh
    Training in database management for distributed systems Duration: from 19/06/2022 to 25/08/2022.</p>

    <p>- Database and distributed database management, including IBM DB2 LUW, Oracle, and MS SQL Server.</p>

    <p>- Basic and advanced commands for working with IBM DB2 LUW, including DB2 Catalog, Versioning, SQL Structure,Automatic Storage, and basic configuration.</p>

    <p>- Introduction to MS SQL Server and its components, including implementing backup and recovery strategies. Understanding of database and relational database management systems, and operating systems for Oracle databases.</p>

    <p>- Familiarity with Oracle database server architecture and components, as well as managing users, privileges, and roles.</p>



 </div>

 <div class="ide">

 </div>
</section>
<!-- End Of Fourth Section -->





